h1 {
  text-align: center
}

ul {
  text-align: center
}


div {
	box-shadow 0 0 1px black inset;
}

#contentBox {
	margin 0 auto;
	width 70%;
}

#contentBox.column {
	float left;
	margin 0;
	width 50%;
}

