<!DOCTYPE html>
<html>
    <head>
	<link href="{{url_for('static', filename='my_style.css')}}" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8" />
	<title>{{page_title}}</title>
    </head>

    <body>
	    <h1>{{title}}</h1>
	    <ul>
		    <form action='{{button_target_page}}', method="POST">
		   {% for attribute in bottle %}
		   {{attribute}} : <input type="text" name='{{attribute}}' /><br>
	   	   {% endfor %}	   
		   <input type='submit' value='{{button_label}}' /><br>
		</form>
	    </ul>
	    <div id="contentBox">
		    <div class="column">
			    test
		    </div>

		    <div class="column">
		    	test2
		    </div>
	    </div>
    </body>
</html>

