<!DOCTYPE html>
<html>
    <head>
	<link href="{{url_for('static', filename='my_style.css')}}" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8" />
	<title>{{page_title}}</title>
    </head>

    <body>
	<h1>{{title}}</h1>
	<form action='{{button_target_page}}', method="POST">
		</form>
	    	<div id="contentBox">
			<div class="column">
		   		{% for key, attribute in bottle.iteritems() %}
		   		{{attribute}} : <input type="text" name='{{key}}' /><br>
	   	   		{% endfor %} 
		    	</div>
		    	
			<div class="column">
		   		{% for key, attribute in productor.iteritems() %}
		   		{{attribute}} : <input type="text" name='{{key}}' /><br>
	   	   		{% endfor %} 
		    	</div>
	    	</div>

		<input type='submit' value='{{button_label}}' /><br>
	</form>
    </body>
</html>

